.pers-color-primary {
  color: var(--color-primary);
}

.pers-color-secondary {
  color: var(--color-secondary);
}

.pers-color-tertiary {
  color: var(--color-tertiary);
}

.pers-color-shadow {
  color: var(--color-shadow);
}